{% extends "./layout/base.html" %}
{% load static %}

{% block content %}

<div class="card text-center bg.">

    <div class="card-body">
        <h2 class="card-title ">Welcome</h2>
        <p class="card-text">Time Series Web Server</p>
        <div class="p-2">
            <a href="https://google.com" class="btn btn-primary">Google</a>
        </div>
        <div>
            <a href="#" class="btn btn-success" onclick="Drawgraphonfront()" >Graph</a>
        </div>
        <div>
            <input type = "button" onclick = "Drawgraphonfront()" value = "Display">  
        </div>

    </div>

</div>

<div class="container m-3">
    <div class="row">
        <div class="col-4">
            <div data-bs-spy="scroll" data-bs-offset="0" class="card text-left p-5" style="height: 710px; overflow-y: scroll;" >

                {% if articulos %}
                    {% for articulo in articulos %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{ articulo.idArticulo }}">
                        <label class="form-check-label" for="{{ articulo.idArticulo }}">
                            {{ articulo.DescProducto }}
                        </label>
                    </div>
                    {% endfor %}
                {% endif %}
            
            </div>
        </div>
        <div class="col">
            <div class="card text-center p-5">

                <canvas id="myChart" width="400px" height="400px"></canvas>
            
            </div>
        </div>
    </div>
</div>





{% endblock content %}