{% extends "./layout/base.html" %}
{% load static %}

{% block content %}

<div class="card text-center bg.">

    <div class="card-body">
        <h2 class="card-title ">Welcome</h2>
        <p class="card-text">Time Series Web Server</p>
        <div class="row">
            <div class="col">
                <div>
                    <a href="#" class="btn btn-danger" onclick="clean_graph()" > x Clear</a>
                </div>  
            </div>
            <div class="col">
                <!-- <div>
                    <a href="#" class="btn btn-success" onclick="add_data_to_graph_mockup()" >+ Serie</a>
                </div>     -->
            </div>
            <div class="col">
                <label for="exampleFormControlSelect1">T-Ahead</label>
                <select class="form-control" id="AheadFormControlSelect1" onclick="clean_graph()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                </select>
            </div>
            
        </div> 
        <!-- <div>
            <input type = "button" onclick = "Drawgraphonfront()" value = "Display">  
        </div> -->

    </div>

</div>

<div class="container m-3">
    <div class="row">
        <div class="col-4">
            <div data-bs-spy="scroll" data-bs-offset="0" class="card text-left p-5" style="height: 710px; overflow-y: scroll;" >
                {% if articulos %}
                    {% for articulo in articulos %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="{{ articulo.idArticulo }}" name="{{ articulo.DescProducto }}" onclick="play_checkbox(this)" >
                        <label class="form-check-label" for="{{ articulo.idArticulo }}">
                            {{ articulo.DescProducto }}
                        </label>
                    </div>
                    {% endfor %}
                {% endif %}
            
            </div>
        </div>
        <div class="col">
            <div class="card text-center p-5">

                <canvas id="myChart" width="400px" height="400px"></canvas>
            
            </div>
        </div>
    </div>
</div>





{% endblock content %}